.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color{
    width: 30px;
    height: 30px;
    border:1px solid #000;
    background: #000;
}

.dots{
    display: flex;
    width: 170px;
    justify-content:space-between;
    align-items:center;
}
.dot1,.dot2,.dot3{
    border-radius: 50%;
    background: #000;
}
.dot1{
    width: 20px;
    height: 20px;

}
.dot2{
    width: 15px;
    height: 15px;
}
.dot3{
    width: 10px;
    height: 10px;
}
.rubber{
    width: 30px;
    height: 30px;
    background: #fff;
}

